

        <div class="row">
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>SDN Seminar </h3>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
			<div>
				<p><strong>Chair Members:</strong> Professor, asst chair1, asst chair2</p>
				<p><strong>Created Date:</strong> 01-01-2016</p>
				<form role="form" ng-submit="update()">
                           	<div  class="form-group">
					<span><strong>Submission deadline:</strong><input class="form-control" type="date" value="21-02-2016" id="date" name="date"></span>
				</div>
				<div  class="form-group">
					<span><strong>Review deadline:</strong><input class="form-control" type="date" value="21-02-2016" id="date" name="date"></span>
				</div>
				<div class="row">
				<div class="col-lg-3">
				<button class="btn btn-sm btn-success btn-block">Update</button>
				</div>
				</div>
				</form>
				
			</div>
			<br>
			<div>
				<strong>SUBMISSIONS</strong>				
			</div>
			<br>
                        <div class="dataTable_e">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Submitter Name</th>
                                    <th>Submitted Date</th>
                                    <th>Uploaded Document</th>
                                    <th>Reviewer</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr class="odd gradeX">
                                    <td>1</td>
                                    <td>Shashank</td>
                                    <td>15-01-2016</td>
                                    <td><button class="btn btn-sm btn-success btn-block">Download</button></td>
				    <td><select class="form-control" id="sel1">
    			        	<option>Unassigned</option>
			       	        <option>Sheelen</option>
			    	        <option>Dhana</option>
			                <option>Dhanashree</option>
			                <option>Dhanish</option>
                                        </select>
                                    </td>                               </tr>
                                <tr class="odd gradeX">
                                    <td>3</td>
                                    <td>Dhanish</td>
                                    <td>16-01-2016</td>
                                    <td><button class="btn btn-sm btn-success btn-block">Download</button></td>
				    <td><select class="form-control" id="sel1">
    			        	<option>Unassigned</option>
			       	        <option>Sheelen</option>
			    	        <option>Dhana</option>
			                <option>Dhanashree</option>
			                <option>Dhanish</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="odd gradeX">
                                   <td>4</td>
                                    <td>Dhanashree</td>
                                    <td>21-01-2016</td>
                                    <td><button class="btn btn-sm btn-success btn-block">Download</button></td>
				    <td><select class="form-control" id="sel1">
    			        	<option>Unassigned</option>
			       	        <option>Sheelen</option>
			    	        <option>Dhana</option>
			                <option>Dhanashree</option>
			                <option>Dhanish</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
				<div class="col-lg-3">
				<button class="btn btn-sm btn-success btn-block">Auto Assign</button>
				</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

